._*
.DS_Store
.DS_Store?
.ensime
.ensime_lucene/
.history
.idea_modules/
.idea/
.metadata/
.sass-cache/
.Spotlight-V100
.Trashes
*.csv
*.iml
*.orig
*.pyc
*.scala#
*.sw
*.swp
*.tgz
/.idea/
/project/boot/
/project/plugins/project
atlassian-ide-plugin.xml
chromedriver.log
console.devmode.log
ehthumbs.db
Icon?
lib_managed/
seleniumLog*
src_managed/
target/
test-output/
Thumbs.db
sprintly
.filestore_root
